$border-color: #e5e5e5;
$dark-grey: #2B2B2B;
$navy-blue: #001048;
$blue-france: #002197;
$light-blue: #4AB2DD;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;

$font-family-Inter: Inter, sans-serif;
$font-family-Poppins: Poppins, sans-serif;