@import "src/stylings/_variables.scss";

.quote-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 16px;
    min-height: 270px;
    .content {
        justify-content: space-between;
        min-height: 270px;
        .header {
            justify-content: space-between;
            margin-bottom: 10px;
            > span {
                font: normal $font-size-sm $font-family-Poppins;
                color: #8d8d8d;
            }
            .mark {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 115px;
                height: 28px;
                background: #f5f5f5;
                border-radius: 20px;

                font: 500 10px $font-family-Poppins;
                color: #b1b1b1;
                cursor: pointer;
                user-select: none;
                &.marked {
                    background: #ffe8d8;
                    img {
                        background: #ffa361;
                    }
                }
                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 9px;
                    width: 7px;
                    height: 13px;
                    padding: 2px 5px;
                    background: #b1b1b1;
                    color: #f5f5f5;
                    border-radius: 50px;
                    margin-right: 8px;
                }
            }
        }

        .dates {
            .date {
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 10px;
                    color: $blue-france;
                }
                label {
                    font: 500 $font-size-sm $font-family-Poppins;
                    color: $blue-france;
                }
                .value {
                    font: 600 $font-size-sm $font-family-Inter;
                    color: $navy-blue;
                    margin: 10px 0;
                }
            }
        }

        .buttons {
            .file {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                background: #f8f8f8;
                border-radius: 6px;
                cursor: pointer;
                margin: 16px 0;
                img {
                    height: 17px;
                    width: 17px;
                    margin-right: 10px;
                }
                span {
                    font: 600 $font-size-md $font-family-Inter;
                    color: $blue-france;
                }
            }
            .btn-postulate {
                background: #6b9eff;
                border-radius: 4px;
                padding: 8px;
                border: none;
                font: 600 13px $font-family-Inter;
                color: #ffffff;
                cursor: pointer;
                &.postulated {
                    width: 130px;
                    background: #ff6b6b;
                    box-shadow: 0px 15px 10px -9px rgba(255, 107, 107, 0.2);
                    border-radius: 4px;
                    align-self: center;
                }
            }
        }

        .description {
            font: 600 $font-size-lg $font-family-Inter;
            color: $navy-blue;
        }
        hr {
            border-top: 0 solid #f1f1f1;
            margin: 20px 0;
        }
    }
}
