@import "src/stylings/_variables.scss";

.container {
    //position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    background: #f0f0f0;
    padding: 0 100px;
    min-height: 100vh;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 32px;
        font: 600 $font-size-xxl $font-family-Poppins;
        img {
            position: absolute;
            left: 3px;
            height: 16px;
            cursor: pointer;
        }
    }

    .top-section {
        background: #ffffff;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
        border-radius: 15px;
        font: normal $font-size-lg $font-family-Poppins;
        line-height: 27px;
        padding: 10px 19px;
        color: $blue-france;
        p {
            margin: 0;
        }
    }

  .provider-dates {
    display: flex;
    gap: 24px;
    margin: 18px 0;
    .field {
      background: #ffffff;
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 20px 18px;
      label,
      span {
        color: $navy-blue;
      }
      label {
        font: 600 $font-size-lg $font-family-Poppins;
        margin-right: 8px;
      }
      span {
        font: normal $font-size-lg $font-family-Poppins;
      }
    }
  }

    .provider-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin: 18px 0;
        .field {
            background: #ffffff;
            box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            display: flex;
            align-items: center;
            padding: 20px 18px;
            label,
            span {
                color: $navy-blue;
            }
            label {
                font: 600 $font-size-lg $font-family-Poppins;
                margin-right: 8px;
            }
            span {
                font: normal $font-size-lg $font-family-Poppins;
            }
        }
    }

    .economic-proposal {
        background: #ffffff;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        padding: 20px 38px;
        .header {
            display: flex;
            //justify-content: center;
            font: 600 $font-size-xl $font-family-Poppins;
            color: $navy-blue;
            margin: 0;
        }
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 7px;
            thead th {
                font: 600 $font-size-xl $font-family-Poppins;
                color: $navy-blue;
            }
            tbody tr {
                cursor: pointer;
                outline: thin solid #cecdcd;
                border-radius: 7px;
                td {
                    text-align: center;
                    font: normal 15px $font-family-Poppins;
                    img {
                        height: 50px;
                        border-radius: 50px;
                    }
                }
            }
        }
        .total {
            display: flex;
            justify-content: end;
            align-items: center;
            padding-top: 10px;
            label {
                font: 500 $font-size-lg $font-family-Poppins;
                color: $navy-blue;
                margin-right: 32px;
            }
            span.total {
                font: 600 $font-size-lg $font-family-Poppins;
                color: $dark-grey;
                width: 162.47px;
                background: rgba(204, 204, 204, 0.43);
                border-radius: 7px;
                padding: 7px 10px;
                justify-content: center;
            }
        }
    }
    .quotes {
        background: #ffffff;
        box-shadow: 0px 8px 40px rgb(0 0 0 / 6%);
        border-radius: 12px;
        padding: 14px;
        margin: 16px 0;
        .title {
            font: 600 $font-size-lg $font-family-Poppins;
            color: $navy-blue;
        }
        .proposals {
            justify-content: center;
            .field {
                span {
                    font: 600 $font-size-md $font-family-Poppins;
                    color: $navy-blue;
                }
                .input-file {
                    border: 1px solid #c1c1c1;
                    box-sizing: border-box;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    margin: 0 10px;
                    cursor: pointer;
                    img {
                        margin-right: 10px;
                    }
                    span {
                        font: 500 $font-size-sm $font-family-Poppins;
                        color: rgba(43, 43, 43, 0.72);
                    }
                }
            }
        }
        p {
            font: 500 $font-size-sm $font-family-Poppins;
            line-height: 18px;
            color: #000000;
            margin-bottom: 0;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        .btn-send,
        .btn-cancel {
            border-radius: 6px;
            font: 600 $font-size-lg $font-family-Poppins;
            color: #f7f7f7;
            border: none;
            width: 130px;
            height: 40px;
            cursor: pointer;
        }
        .btn-send {
            margin-right: 16px;
            background: $light-blue;
        }
        .btn-cancel {
            background: #ff4a4a;
        }
    }
}

.postulated-quote {
    .top-section {
        margin-bottom: 32px;
        .row {
            margin: 8px;
            label {
                font: 600 $font-size-md $font-family-Poppins;
                color: $navy-blue;
                margin-right: 10px;
            }
            span {
                font: 500 13px $font-family-Poppins;
            }
            &.description {
                justify-content: space-between;
                .file {
                    font: 500 $font-size-md $font-family-Poppins;
                    color: $navy-blue;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    cursor: pointer;
                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .economic-proposal {
        margin-bottom: 32px;
        table {
            margin: 24px 0;
            tr {
                background: #f7f7f7;
                backdrop-filter: blur(4px);
                border-radius: 7px;
            }
        }
    }
}

.nonexistent-quote {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 $font-size-xl $font-family-Poppins;
}
