@import "src/stylings/_variables.scss"; 

.container {
    position: relative;
    .select {
        height: 50px;
        background: #ffffff;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        margin-bottom: 2px;
        span {
            font: 600 $font-size-md $font-family-Inter;
            color: $dark-grey;
        }
        img {
            height: 10px;
        }
    }
    .dropdown {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 6px;
        width: 100%;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        z-index: 2;
        &.opened {
            padding: 14px 16px;
            max-height: 700px;
            transition: max-height 0.25s ease-in;
        }
        option {
            font: normal $font-size-md $font-family-Poppins;
            padding: 10px;
            &:hover {
                background-color: whitesmoke;
                border-radius: 5px;
            }
        }
    }
}

.background {
    width: 96vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}