<div class="container body">
  <mat-card class="register">
    <mat-card-title class="text-center">Registro Proveedores</mat-card-title>
    <mat-card-content>
      <div class="step-one">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>RUC del proveedor</mat-label>
                <input matInput type="number" required
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       [formControl]="ruc" maxlength="11">
                <mat-error *ngIf="ruc.invalid">
                  El RUC es obligatorio
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <button class="example-full-width" (click)="searchRUC()" mat-elevation-z4 mat-raised-button mat-button
                      color="primary"> Validar RUC
              </button>
            </td>
          </tr>
        </table>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Razon Social</mat-label>
          <input matInput [(ngModel)]="businessName" disabled type="text">
        </mat-form-field>

        <p *ngIf="rucError.status">
          <strong>{{rucError.title}}</strong> {{rucError.message}}
        </p>
      </div>

      <div class="account-robada">
        <form *ngIf="validateAccount == statusAccount.exists" (ngSubmit)="sendReport()"
              [formGroup]="formReport">


          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex" style="font-weight: bold; color: #1c2128;">Esta cuenta existe</div>
          </div>
          <ng-template>
            <div class="container">
              <div class="row mb-4">
                <div class="col">
                  <input formControlName="fullname" type="text" placeholder="Nombres y Apellidos"
                         class="form-control"/>
                </div>
                <div class="col">
                  <input formControlName="position" type="text" class="form-control" placeholder="Cargo">
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="">
                    <input formControlName="email" type="text" class="form-control" placeholder="Correo">
                  </div>
                </div>
                <div class="col">
                  <div class="">
                    <input formControlName="cellphone" type="text" class="form-control" placeholder="Celular">
                  </div>
                </div>
              </div>
              <div class="mb-4">
                      <textarea formControlName="message" class="form-control" placeholder="Mensaje"
                                rows="4"></textarea>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" [disabled]="!formReport.valid" class="btn btn-primary">
                  Generar Solicitud
                </button>
              </div>
            </div>
          </ng-template>

        </form>
      </div>
      <div class="step-two">
        <!--        <form *ngIf="validateAccount == statusAccount.empty" (ngSubmit)="onRegisterSupplier()"-->
        <form (ngSubmit)="onRegisterSupplier()"
              [formGroup]="formSupplier">

          <section class="example-section">
            <h4>Categorias</h4>
            <div *ngFor="let category of categoryList; let i=index">
              <mat-checkbox class="example-margin"
                            [checked]="false"
                            [value]="category.code.toString()"
                            (change)="onCategoryChange($event)"
                            [id]="category.code.toString()">{{  category.name }}</mat-checkbox>
            </div>
            <!--              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12"-->
            <!--                   *ngFor="let category of categoryList; let i=index">-->
            <!--                <div class="form-check">-->
            <!--                  <input class="form-check-input" type="checkbox" [value]="category.code"-->
            <!--                         [name]="category.name" (change)="onCategoryChange($event)">-->
            <!--                  <label class="form-check-label">-->
            <!--                    {{  category.name }}-->
            <!--                  </label>-->
            <!--                </div>-->
            <!--              </div>-->
            <br/>

            <p *ngIf="categoryError.status">
              <strong>{{categoryError.title}}</strong> {{categoryError.message}}
            </p>

          </section>
          <mat-divider></mat-divider>
          <br/>
          <section class="example-section">
            <h4>Datos del Usuario</h4>
            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input type="text" matInput formControlName="email">
                <mat-error *ngIf="f.email.invalid">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Representante legal</mat-label>
                <input type="text" matInput formControlName="representative">
                <mat-error *ngIf="f.representative.errors">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input type="text" matInput formControlName="phone">
                <mat-error *ngIf="f.phone.invalid">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Celular</mat-label>
                <input type="text" matInput formControlName="cellphone">
                <mat-error *ngIf="f.cellphone.errors">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
          </section>

          <mat-divider></mat-divider>
          <br>
          <section>
            <h4>Representante </h4>
            <div>

              <app-contact *ngFor="let contact of contacts; let i = index"
                           (sendFormEmitter)="sendFormEmitter($event)"
                           (registerFormEmitter)="registerFormEmitter($event)"
                           (removeFormEmitter)="removeFormEmitter($event)"
                           title="Contacto #{{i+1}}" [index]="i" [contact]="contact"></app-contact>

              <!--            <button mat-button mat-flat-button color="primary" type="button" (click)="addContact()"-->
              <!--                    class="btn btn-primary ">Agregar nuevo contacto-->
              <!--            </button>-->
            </div>
          </section>
          <br>
          <div class="d-flex justify-content-center">
            <re-captcha formControlName="captcha"></re-captcha>
          </div>
          <br>
          <div class="col-6 align-content-lg-center align-content-md-center align-items-center">
            <button mat-button mat-raised-button type="submit" [disabled]="!formSupplier.valid">
              Registrar
            </button>
          </div>

        </form>
      </div>

    </mat-card-content>

  </mat-card>

</div>

<!--            <form *ngIf="validateAccount == statusAccount.exists" (ngSubmit)="sendReport()"-->
<!--                  [formGroup]="formReport">-->
<!--              <ngb-accordion #acc="ngbAccordion" [activeIds]="'cuenta_robada'">-->
<!--                <ngb-panel [id]="'cuenta_robada'">-->
<!--                  <ng-template ngbPanelTitle>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="d-flex" style="font-weight: bold; color: #1c2128;">Esta cuenta existe</div>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--                  <ng-template ngbPanelContent>-->
<!--                    <div class="container">-->
<!--                      <div class="row mb-4">-->
<!--                        <div class="col">-->
<!--                          <input formControlName="fullname" type="text" placeholder="Nombres y Apellidos"-->
<!--                                 class="form-control"/>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                          <input formControlName="position" type="text" class="form-control" placeholder="Cargo">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="row mb-4">-->
<!--                        <div class="col">-->
<!--                          <div class="">-->
<!--                            <input formControlName="email" type="text" class="form-control" placeholder="Correo">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                          <div class="">-->
<!--                            <input formControlName="cellphone" type="text" class="form-control" placeholder="Celular">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="mb-4">-->
<!--                        <textarea formControlName="message" class="form-control" placeholder="Mensaje"-->
<!--                                  rows="4"></textarea>-->
<!--                      </div>-->
<!--                      <div class="d-flex justify-content-center">-->
<!--                        <button type="submit" [disabled]="!formReport.valid" class="btn btn-primary">-->
<!--                          Generar Solicitud-->
<!--                        </button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--                </ngb-panel>-->
<!--              </ngb-accordion>-->
<!--            </form>-->


<!--            <form *ngIf="validateAccount == statusAccount.empty" (ngSubmit)="onRegisterSupplier()"-->
<!--                  [formGroup]="formSupplier">-->
<!--              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds[0]">-->
<!--                <ngb-panel [id]="activeIds[0]">-->
<!--                  <ng-template ngbPanelTitle>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="d-flex" style="font-weight: bold; color: #1c2128;">Categorias</div>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--                  <ng-template ngbPanelContent>-->
<!--                    <div class="row">-->
<!--                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12"-->
<!--                           *ngFor="let category of categoryList; let i=index">-->
<!--                        <div class="form-check">-->
<!--                          <input class="form-check-input" type="checkbox" [value]="category.code"-->
<!--                                 [name]="category.name" (change)="onCategoryChange($event)">-->
<!--                          <label class="form-check-label">-->
<!--                            {{  category.name }}-->
<!--                          </label>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <br/>-->
<!--                      <div class="col-6">-->
<!--                        <ngb-alert [type]="'danger'" *ngIf="categoryError.status" [dismissible]="false">-->
<!--                          <strong>{{categoryError.title}}</strong> {{categoryError.message}}-->
<!--                        </ngb-alert>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--                </ngb-panel>-->
<!--              </ngb-accordion>-->
<!--              <br>-->
<!--              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds[1]">-->
<!--                <ngb-panel [id]="activeIds[1]">-->
<!--                  <ng-template ngbPanelTitle>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="d-flex mx-2"><i style="font-weight: bold; color: #1c2128;"-->
<!--                                                  class="fa fa-angle-down"></i>-->
<!--                      </div>-->
<!--                      <div class="d-flex" style="font-weight: bold; color: #1c2128;">Datos del Usuario</div>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--                  <ng-template ngbPanelContent>-->
<!--                    <div class="row">-->
<!--                      <div class="col">-->
<!--                        <div class="form-group input-group">-->
<!--                          <input formControlName="email" class="form-control" placeholder="Correo electrónico"-->
<!--                                 [ngClass]="{ 'is-invalid' : f.email.errors &&  f.email.value != '' }" type="text">-->

<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col">-->
<!--                        <div class="form-group input-group">-->
<!--                          <input formControlName="representative" class="form-control" placeholder="Representante legal"-->
<!--                                 [ngClass]="{ 'is-invalid' : f.representative.errors && f.representative.value != '' }"-->
<!--                                 type="text">-->

<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                      <div class="col">-->
<!--                        <div class="form-group input-group">-->
<!--                          <input formControlName="phone" class="form-control" placeholder="Teléfono"-->
<!--                                 [ngClass]="{ 'is-invalid' : f.phone.errors  && f.phone.value != '' }" type="text">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col">-->
<!--                        <div class="form-group input-group">-->
<!--                          <input formControlName="cellphone" class="form-control" placeholder="Celular"-->
<!--                                 [ngClass]="{ 'is-invalid' : f.cellphone.errors && f.cellphone.value != ''}"-->
<!--                                 type="text"/>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--                </ngb-panel>-->
<!--              </ngb-accordion>-->
<!--              <br>-->
<!--              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds[2]">-->
<!--                <ngb-panel [id]="activeIds[2]">-->
<!--                  <ng-template ngbPanelTitle>-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                      <div class="d-flex mx-2"><i style="font-weight: bold; color: #1c2128;"-->
<!--                                                  class="fa fa-angle-down"></i>-->
<!--                      </div>-->
<!--                      <div class="d-flex mr-4" style="font-weight: bold; color: #1c2128;">Representante</div>-->
<!--                    </div>-->

<!--                  </ng-template>-->
<!--                  <ng-template ngbPanelContent>-->

<!--                    <app-contact *ngFor="let contact of contacts; let i = index"-->
<!--                                 (sendFormEmitter)="sendFormEmitter($event)"-->
<!--                                 (registerFormEmitter)="registerFormEmitter($event)"-->
<!--                                 (removeFormEmitter)="removeFormEmitter($event)"-->
<!--                                 title="Contacto #{{i+1}}" [index]="i" [contact]="contact"></app-contact>-->

<!--                    <button type="button" (click)="addContact()"-->
<!--                            class="btn btn-primary ">Agregar nuevo contacto-->
<!--                    </button>-->
<!--                  </ng-template>-->
<!--                </ngb-panel>-->
<!--              </ngb-accordion>-->
<!--              <br>-->
<!--              <div class="d-flex justify-content-center">-->
<!--                <re-captcha formControlName="captcha"></re-captcha>-->
<!--              </div>-->
<!--              <br>-->
<!--              <div class="row">-->
<!--                <div class="col-3"></div>-->
<!--                <div class="col-6 align-content-lg-center align-content-md-center align-items-center">-->
<!--                  <button type="submit" [disabled]="!formSupplier.valid" class="btn btn-primary btn-block btn-lg">-->
<!--                    Registrar-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div class="col-3"></div>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

