//.body {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background-color: #f5f5f5;
//  height: 100%;
//}
//
//.text-center {
//  padding: 15px;
//  margin: auto;
//  text-align: center;
//}
//
//.register {
//  width: 70%;
//  padding: 15px;
//  margin: auto;
//}
//
//.example-form {
//  min-width: 200px;
//  width: 100%;
//}
//
//.example-full-width {
//  width: 100%;
//}
//
//td {
//  padding-right: 8px;
//}
//
//:host {
//  .captcha {
//    display: table;
//    margin: 0 auto;
//    margin-bottom: 10px;
//  }
//}
//
//.transparent .mat-dialog-container {
//  box-shadow: none;
//  background: rgba(0, 0, 0, 0.0);
//}
