@import "src/stylings/_variables.scss"; 

.container {
    padding: 64px 56px;
    background: #f0f0f0;
    min-height: 100vh;
}

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
    grid-template-columns: min-content auto;

    .searcher {
        color: #9f9f9f;
        padding: 0 16px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background: #ffffff;
        display: flex;
        align-items: center;
        height: 50px;
        width: 300px;
        input {
            font: 600 $font-size-md $font-family-Inter;
            width: 100%;
            border: none;
            background: #ffffff;
            padding-right: 6px;
            &::placeholder {
                color: #9f9f9f;
            }
            &:focus,
            &:focus-visible {
                border: none;
                outline: none;
            }
        }
    }

    .selects {
        display: flex;
        align-items: center;
        justify-content: space-between;
        app-selector {
            height: 100%;
            width: 100%;
        }
    }

    .paginator {
        display: flex;
        justify-content: end;
        font: 600 $font-size-md $font-family-Inter;
        color: #2a2a2a;
        display: flex;
        align-items: center;
        .current-page {
            background: #ffffff;
            border: 1px solid #efefef;
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding: 14px;
        }
        .number-pages {
            margin: 0 32px;
        }
        .btn-back,
        .btn-next {
            background: #ffffff;
            border: 1px solid #f9f9f9;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 18px;
            height: 14px;
            cursor: pointer;
        }
        .btn-back {
            margin-right: 32px;
        }
    }
    .left {
        width: (300px + 32px);
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 5;
        app-accordion {
            .option {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 4px;
                .form-field {
                    color: $dark-grey;
                    input {
                        margin-right: 6px;
                    }
                    label {
                        font: 600 $font-size-md $font-family-Inter;
                        text-transform: capitalize;
                    }
                }
                .counter {
                    font: 600 $font-size-sm $font-family-Inter;
                }
            }
        }
        
       

        .sede-accordion {
            margin-bottom: 26px;
        }
    }

    .quote-list {
        grid-column-start: 2;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 32px;
    }
}

.mr-5 {
    margin-right: 32px;
}