<mat-toolbar color="primary">
  <img class="space" src="./assets/img/logo.png" height="35px" alt="">
  <span class="space"> Modulo de Cotizaciones </span>
  <span class="spacer"></span>
<!--  <button mat-button routerLink="/dashboard">Inicio</button>-->
<!--  <button mat-button routerLink="/dashboard/usuarios">Acerca de</button>-->
<!--  <button mat-button routerLink="/dashboard/reportes">Contacto</button>-->
  <span class="spacer"></span>
  <button *ngIf="isLogged" mat-icon-button (click)="logout()" aria-label="icon-button with menu icon">
    <mat-icon>logout</mat-icon>
  </button>

  <button mat-flat-button color="primary" *ngIf="!isLogged" (click)="login()"  >
    Iniciar Sesion
  </button>
</mat-toolbar>

